.custom-search-container {
  position: relative;
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
}

.custom-user-image {
  width: 55px;
  height: 55px;
  border: 3px solid #cfcfcf;
  border-radius: 50%;
  margin-right: 15px;
}

.custom-search-input-group {
  width: 100rem;
}

.custom-search-input {
  height: 50px;
  background-color: #f2f2f2;
  border: 2px solid #e4e4e4;
  border-radius: 8px;
  padding-right: 110px;

  font-weight: medium;
}

.custom-input-group-append {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  gap: 5px;
}

.custom-btn-icon {
  padding: 0;
  border: none;
  background: none;
}

.custom-icon-img {
  width: 24px;
  height: 24px;
}
