body {
  background-color: #f2f2f2;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 15px 3.5rem;
  background-color: #ffff;
  border-bottom: 3px solid #e4e4e4;
}

.navbar-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-item {
  margin: 0 1rem;
}

.logo {
  width: 45px;
  height: auto;
}

.btn-notification {
  border: none;
  background: transparent;
  margin-right: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.3s;
  border: none;
}

.btn-notification:hover .bell {
  animation: bellRing 0.9s both;
}

@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.btn-notification:active {
  transform: scale(0.8);
}

.navigation-container {
  width: 100%;
  height: 6rem;
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  background-color: #fff;
  border-bottom: 3px solid #e4e4e4;
}

.tab-container {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 2px;
}

.indicator {
  content: "";
  width: 160px;
  height: 3px;
  background: #479bd8;
  position: absolute;
  bottom: -3px;
  height: 3px;
  left: 0px;
  z-index: 9;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  transition: all 0.2s ease-out;
}

.tab {
  width: 160px;
  height: 28px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  width: 160px;
  height: 28px;

  position: relative;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 5px;

  border: 0;

  cursor: pointer;

  color: #10100e;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}

.tab--1:checked ~ .indicator {
  left: 2px;
}

.tab--2:checked ~ .indicator {
  left: calc(160px + 2px);
}

.tab--3:checked ~ .indicator {
  left: calc(160px * 2 + 2px);
}
