.div-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 1100px;
  margin-top: 50px;
}

.post-container {
  margin-top: 40px;
  margin-bottom: 40px;
}
